In [1]:
import pandas as pd
import warnings
warnings.simplefilter("ignore", UserWarning)
pd.set_option('display.max_columns', None)

In [2]:
# Load the Excel file as a DataFrame
file1 = 'export_notesCC_1APIC-3_0030.xlsx'

In [3]:
df = pd.read_excel(file1, engine="openpyxl")

In [4]:
# Extraire les colonnes 3 (index 2) à partir de la ligne 17 (index 16) pour le code massar
code_masssar = df.iloc[16:, 2].reset_index(drop=True)  # Colonne 3 (index 2), ligne 17 à la fin

# Extraire les colonnes 3 (index 2) à partir de la ligne 17 (index 16) pour les noms
nom = df.iloc[16:, 3].reset_index(drop=True)  # Colonne 3 (index 2), ligne 17 à la fin

# Créer un DataFrame avec ces deux colonnes
df_extracted = pd.DataFrame({
    'code_masssar': code_masssar,
    'nom': nom
})

df_extracted

   code_masssar                        nom
0    G136756474            انوار عبد الغني
1    G140130710              جوهر  عزالدين
2    G145135110            الصولاحي زكرياء
3    G146135106               لفريندي مراد
4    G154083661                  لبيض ياسر
5    G155066319              العرباوي ايمن
6    G156066216           ايت الهروال جمال
7    G159063548            محتفل عبدالكبير
8    G160071886  لمعاشي يونس بن عبد العالي
9    G160089404         بنعزوزة صلاح الدين
10   G160098088             ايت بلبريك انس
11   G161084069          معاشي يونس بن حسن
12   G163098116             الخوزالي لمياء
13   G166089417                  خيصة كوثر
14   G167044614             الهيتار زكرياء
15   G168084046                اشباب خديجة
16   G170038466                محتفل نهيدة
17   G170039784                 الشحمي اية
18   G170039792                اعربات يحيى
19   G170039805               المؤدن ايمان
20   G171039845                 بلاد مروان
21   G173031328                  لكحل ملاك
22   G173039772                  مطيع ريان
23   G174031294                بنضاوي صالح
24   G174039773                 كرمول محمد
25   G174039849             ايت قدور لمياء
26   G174087878              العدناني نورة
27   G176031317              الحجازي وهيبة
28   G176039814                 الشحمي هبة
29   G178039838            ايت بلبريك خلود

In [5]:
# Compter le nombre total d'élèves en utilisant la colonne 'code_masssar' (ou 'nom')
total_students = df_extracted['code_masssar'].notna().sum()
total_students

30

In [6]:
df_annee = pd.read_excel(file1, skiprows=12, engine="openpyxl")
df_semestre = pd.read_excel(file1, skiprows=10, engine="openpyxl")
df_matiere = pd.read_excel(file1, skiprows=10, engine="openpyxl")
df_academie = pd.read_excel(file1, skiprows=6, engine="openpyxl")
df_province = pd.read_excel(file1, skiprows=6, engine="openpyxl")
df_ecole = pd.read_excel(file1, skiprows=6, engine="openpyxl")

df_niveau =  pd.read_excel(file1, skiprows=8, engine="openpyxl")
df_professeur  = pd.read_excel(file1, skiprows=8, engine="openpyxl")
df_classe =  pd.read_excel(file1, skiprows=8, engine="openpyxl")

# Extract information based on skiprows values
annee_scolaire = df_annee.columns[3]
semestre = df_semestre.columns[3]
matiere = df_matiere.columns[14]
academie = df_academie.columns[3]
province = df_province.columns[8]
ecole = df_ecole.columns[14]

niveau = df_niveau.columns[3]
professeur = df_professeur.columns[14]
classe = df_classe.columns[8]

In [7]:
# Combine the extracted data into a dictionary
extracted_data = {
    'Annee Scolaire': annee_scolaire,
    'Semestre': semestre,
    'Matiere': matiere,
    'Academie': academie,
    'Province': province,
    'Ecole': ecole,
    'Niveau': niveau,
    'Professeur': professeur,
    'Classe': classe,
    
}

# Convert the dictionary into a DataFrame (optional)
df_extracted = pd.DataFrame([extracted_data])
df_extracted

,Annee Scolaire,Semestre,Matiere,Academie,Province,Ecole,Niveau,Professeur,Classe
0,2023/2024,الدورة الأولى,المعلوميات,مراكش - آسفي,إقليم: الرحامنة,ثانوية أولاد إملول الإعدادية,الأولى إعدادي مسار دولي,مروان فهمي,1APIC-3